<div class="container" style="padding:10%;">
	<div class="row-fluid">
		<div class="col-md-6 col-md-offset-3">
		<form action="">
			<div class="input-group input-reg-space">
				<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
				<input type="text" class="form-control" placeholder="Username" validate>
			</div>
			<div class="input-group input-reg-space">
			    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
				<input type="email" class="form-control" placeholder="Email">
			</div>
			<div class="input-group input-reg-space">
				<span class="input-group-addon"><i class="fa fa-key"></i></span>
				<input type="text" class="form-control" placeholder="Password">
			</div>
			<div class="input-group input-reg-space">
				<span class="input-group-addon"><i class="fa fa-key"></i></span>
				<input type="text" class="form-control" placeholder="Retype Password">
			</div>
			<div class="input-group input-reg-space">
				<!-- <input type="checkbox"> -->
				<!-- <label for="">I agree <a href="#">term and conditions</a></label> -->
				<input type="submit" value="Register" class="btn btn-primary">
			</div>
		</form>
		</div>
	</div>
</div>